body{
    /* background-color: black; */
    background-image: url("../images/congruent_outline.png");
    background-repeat: repeat;
}

.jumbotron{
    margin-top: 2%;
    width: 70%;
    padding: 2%;
}

h1{
    text-align: center;
    font-size: 7vw;
    color: rgb(18, 6, 237);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.wrapper{
    text-align: center;
}

.timeRemaining{
    margin-top: 3%;
    font-size: 3vw;
}

.question{
    font-size: 4vw;
    font-style: italic;
    font-weight: bolder;
}
.options{
    margin-top: 2%;
    font-size: 3vw;

}
p:hover{
    background-color: blue;
    border: 5px;
    border-style: solid;
    opacity: .5;
    color: white;
    border-color: black;

}
p{
    margin-bottom: 4%;

}
.restart{
    margin:3%; 
    font-size: 4vw;
    font-style: italic;
    font-weight: bold;

}
.restart:hover{
    margin:3%; 
    font-size: 4vw;
    font-style: italic;
    font-weight: bold;
    color:red;

}

